html {
  font-size: 62.5%; }
  @media (max-width: 930px) {
    html {
      font-size: 55%; } }
  @media (max-width: 780px) {
    html {
      font-size: 50%; } }
  @media (max-width: 780px) {
    html {
      font-size: 50%; } }
  @media (max-width: 715px) {
    html {
      font-size: 45%; } }

* {
  margin: 0;
  padding: 0; }

.btn {
  width: 10rem;
  height: 3.5rem;
  outline: none;
  border: none;
  background-color: orange;
  border-radius: 0.8rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  color: white;
  font-weight: bold;
  box-shadow: 0 0.4rem 1rem white;
  transition: all 0.2s ease; }
  .btn:active {
    transform: translateY(4px);
    box-shadow: 0 0.2rem 1rem white; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 650px) {
    .header {
      flex-direction: column; } }
  .header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem; }
    @media (max-width: 480px) {
      .header__logo {
        margin-right: 30%; } }
    @media (max-width: 250px) {
      .header__logo {
        flex-direction: column;
        margin: 0; } }
    .header__logo .logo--img {
      width: 50px;
      margin: 0.4rem 1rem 0.6rem 1rem; }
    .header__logo .logo--name {
      font-family: "Teko", sans-serif;
      text-transform: uppercase;
      color: white;
      font-size: 3.5rem; }
      .header__logo .logo--name span {
        color: orangered; }

.show-menu {
  display: flex !important; }

.navbar {
  display: flex;
  margin-right: 4rem; }
  @media (max-width: 480px) {
    .navbar {
      margin: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(114.24deg, #07063f 0%, #1f1cc0 49.17%);
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: none; } }
  .navbar ul {
    display: flex;
    list-style: none; }
    @media (max-width: 480px) {
      .navbar ul {
        flex-direction: column;
        text-align: center;
        margin-bottom: 2rem; } }
    .navbar ul a {
      text-decoration: none;
      color: white;
      font-family: "Lobster", cursive;
      font-size: 2.5rem;
      margin: 1.9rem; }
      .navbar ul a:hover {
        border-bottom: 3px solid red; }
      @media (max-width: 480px) {
        .navbar ul a {
          font-size: 5rem;
          margin: 2.8rem; } }

@media (max-width: 480px) {
  .btn--nav {
    width: 12rem;
    height: 4.4rem;
    font-size: 2rem; } }

.menu-btn {
  z-index: 100;
  position: absolute;
  top: 3rem;
  right: 8%;
  width: 3.5rem;
  height: 3.5rem;
  display: none; }
  @media (max-width: 480px) {
    .menu-btn {
      display: block; } }
  .menu-btn--line {
    width: 100%;
    height: 0.45rem;
    background-color: white;
    border-radius: 1rem; }
    .menu-btn--line:not(:last-child) {
      margin-bottom: 0.6rem; }

.home-banner {
  width: 100%;
  height: 100vh; }
  .home-banner::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(114.24deg, #07063f 0%, #1f1cc0 49.17%);
    z-index: -1; }
  .home-banner--img {
    width: 60rem;
    position: absolute;
    right: 2px;
    bottom: 2vh; }
    @media (max-width: 780px) {
      .home-banner--img {
        width: 50rem; } }
    @media (max-width: 530px) {
      .home-banner--img {
        width: 40rem; } }
    @media (max-width: 400px) {
      .home-banner--img {
        width: 35rem; } }
    @media (max-width: 250px) {
      .home-banner--img {
        width: 28rem; } }

.home__welcome {
  position: absolute;
  top: 40vh;
  left: 3rem; }
  @media (max-width: 715px) {
    .home__welcome {
      top: 30vh; } }
  @media (max-width: 480px) {
    .home__welcome {
      top: 44%;
      left: 50%;
      width: 80%;
      transform: translate(-50%, -50%); } }
  .home__welcome--heading {
    font-family: "Roboto", sans-serif;
    font-size: 6.5rem;
    text-transform: uppercase;
    color: white; }
    @media (max-width: 480px) {
      .home__welcome--heading {
        font-size: 5rem;
        text-align: center;
        margin-bottom: 1.4rem; } }
    @media (max-width: 250px) {
      .home__welcome--heading {
        font-size: 4rem; } }
  .home__welcome--text {
    width: 40%;
    font-family: "Roboto", sans-serif;
    font-size: 2.5rem;
    text-align: justify;
    color: white;
    margin-bottom: 3rem; }
    @media (max-width: 530px) {
      .home__welcome--text {
        width: 50%; } }
    @media (max-width: 480px) {
      .home__welcome--text {
        width: 100%; } }
    @media (max-width: 250px) {
      .home__welcome--text {
        font-size: 2rem; } }
