html {
  font-size: 62.5%;
  @media (max-width: 930px) {
    font-size: 55%;
  }
  @media (max-width: 780px) {
    font-size: 50%;
  }
  @media (max-width: 780px) {
    font-size: 50%;
  }
  @media (max-width: 715px) {
    font-size: 45%;
  }
}
* {
  margin: 0;
  padding: 0;
}
